h1 {
  font-family: 'Righteous', cursive;
  font-size: 100px;
  text-align: center;
  margin: 25px;
}

section {
  margin: 0 auto;
  position: relative;
  width: 620px;
}

button {
  border: 10px solid #000;
  cursor: pointer;
  width: 300px;
  height: 300px;
  margin: 0 -2px;
  outline: none;
  padding: 0;
}

#green {
  border-top-left-radius: 100%;
  background-color: rgba(4, 231, 98, 0.7);
}
#green:hover,
#green.lighton {
  background-color: rgba(4, 231, 98, 1);
}


#red {
  border-top-right-radius: 100%;
  background-color: rgba(247, 23, 53, 0.7);
}
#red:hover,
#red.lighton {
  background-color: rgba(247, 23, 53, 1);
}

#yellow {
  border-bottom-left-radius: 100%;
  background-color: rgba(249, 200, 14, 0.7);
}
#yellow:hover,
#yellow.lighton {
  background-color: rgba(249, 200, 14, 1);
}

#blue {
  border-bottom-right-radius: 100%;
  background-color: rgba(33, 118, 255, 0.7);
}
#blue:hover,
#blue.lighton {
  background-color: rgba(33, 118, 255, 1);
}


#counter {
  background-color: #000;
  color: #fff;
  font-family: Arial;
  font-size: 100px;
  border-radius: 50%;

  box-sizing: border-box;
  height: 200px;
  width: 200px;

  line-height: 200px;
  margin-top: -100px;
  margin-left: -108px;
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
}
